{% set pagetitle ="Add a filter" %}
{% set versionNumber ="004" %}
{% extends 'layout.html' %}
{% block header %}
{% include 'foundations/header-signed-in-campaign.html' %}
{% endblock %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
{{ pagetitle }}
{% endblock %}


{% block outerContent %}
{{ backLink({
  "href": "javascript:window.history.back()",
  "text": "Back",
  "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}

{% block content %}

<style>


  .js-signout {
    text-align: right;
    font-size: 16px;
    font-family: 'proxima_nova', Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    z-index: 60;
    clear: none;
    background: transparent;
    border-bottom: 1px solid #bfc1c3;
    vertical-align: top;
    padding-bottom: 20px;
    font-size: 17px;

  }



  .filterLine {
    display: inline-block;
    list-style-type: none;
    vertical-align: top;
    text-align: left;
    margin: 0;
    font-size: 17px;

  }

  .filterLabel {
    font-size: 17px;
  }

  .filterLine, li, p {
    display: inline-block;
    vertical-align: bottom;
    font-size: 17px;
  }

  input:checked  {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: white;
    height: 20px;
    width: 20px;
    border: 2px solid black;
    color: black;
  }

  input:after {
    content:"";
    position: absolute;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 20%;
    border: 5px solid #000000;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
    display: none;
  }

  input:checked:after {
    display: block;
  }

</style>


{% set cohortsArray = [] %}

{% if (data['newCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['newCohorts']) %} {% endif %}
{% if (data['covidCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['covidCohorts']) %} {% endif %}
{% if (data['fluCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['fluCohorts']) %} {% endif %}
{% if (data['under16Cohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['under16Cohorts']) %} {% endif %}
{% if (data['immunoCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['immunoCohorts']) %} {% endif %}
{% if (data['allCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['allCohorts']) %} {% endif %}

{% set cohortsArray = cohortsArray.concat("COVID-19 vaccination for people aged 75 to 115 years old") %}

{% if cohortsArray.length > 0 %}
{% endif %}


{% if data['selectedAttrib'] !== "Select standard filters and suppressions from a library" %}
{% set action = "add-filter-library" %}
{% elif data['selectedAttrib'] == "Select standard filters and suppressions from a library" %}
{% set action = "add-filter" %}
{% endif %}




<!-- <form action="summary-filters" method="post"> -->

<form action="{{ action }}" method="post">
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
      <h1 class="nhsuk-heading-xl">Apply filters and suppressions to your cohorts</h1>


      {% from 'radios/macro.njk' import radios %}

      {{ radios({
        "idPrefix": "selectedAttrib",
        "name": "selectedAttrib",
        "hint": {
          "text": "The category you choose will be excluded from the iteration."
        },
        "fieldset": {
          "legend": {
            "text": "Select a category for the campaign",
            "classes": "nhsuk-fieldset__legend--m",
            "isPageHeading": false
          }
        },
        "items": [
          {
            "value": "age",
            "text": "Age",
            "checked": checked("selectedAttrib","Age"),
            "hint": {
              "text": "Age hint text lorem ipsum dolor sit amet."
            }
          },
          {
            "value": "location",
            "text": "Location",
            "checked": checked("selectedAttrib","Location"),
            "hint": {
              "text": "Location hint text lorem ipsum dolor sit amet."
            }
          },
          {
            "value": "Vaccine recently given",
            "text": "Vaccine recently given",
            "checked": checked("selectedAttrib","Vaccine recently given"),
            "hint": {
              "text": "Given vaccine hint text lorem ipsum dolor sit amet."
            }
          },
          {
            "divider": "or"
          },
          {
            "value": "Select standard filters and suppressions from a library",
            "text": "Select standard filters and suppressions from a library",
            "checked": checked("selectedAttrib","Select standard filters and suppressions from a library"),
            "hint": {
              "text": "Teaser for standard filters list hint text lorem ipsum dolor sit amet."
            }
          }
        ]
      }) }}








</div>
</div>
<button class="nhsuk-button" data-module="nhsuk-button" type="submit">
  Continue
</button>

<!-- <ul class="nhsuk-grid-column-one-quarter nhsuk-grid-row nhsuk-card-group ">
<li class="nhsuk-card-group__item">

<div class="nhsuk-card nhsuk-card--clickable">
<div class="nhsuk-card__content">
<p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">91 <span class="nhsuk-u-visually-hidden">Applicants</span></p><a href="#" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Applicants</a>

</div>
</div>

</li>

<li class="nhsuk-card-group__item">

<div class="nhsuk-card nhsuk-card--clickable">
<div class="nhsuk-card__content">
<p class="nhsuk-heading-xl nhsuk-u-font-size-64 nhsuk-u-margin-bottom-1">91 <span class="nhsuk-u-visually-hidden">Applicants</span></p><a href="#" class="nhsuk-card__link nhsuk-u-font-weight-normal nhsuk-u-font-size-19 nhsuk-link--no-visited-state">Applicants</a>

</div>
</div>

</li>
</ul> -->

</form>
<!-- <script>
  const personAttributeSelector = document.getElementById("personAttributeSelector");


  const operatorSelector = document.getElementById("filterAttrib");

  const operatorOption = document.getElementById("operatorOption");
  const operatorValue1 = document.getElementById("operatorValue1");
  const operatorValue2 = document.getElementById("operatorValue2");


  personAttributeSelector.addEventListener("click", () => {
    console.log("Person attribute filter used")

    personAttributeSelector.addEventListener("change", () => {
      if (personAttributeSelector.value == "between") {
        showValue2('operatorValue2')
        console.log("operator between")
      } else {
        hideValue2('operatorValue2')
        console.log("operator not between")
      }
    }, { once: true })
  });



  operatorOption.addEventListener("click", () => {
    console.log("Operator selector used")

    operatorOption.addEventListener("change", () => {
      if (operatorOption.value == "between") {
        showValue2('operatorValue2')
        console.log("operator between")
      } else {
        hideValue2('operatorValue2')
        console.log("operator not between")
      }
    }, { once: true })
  });




  function showValue2(div1) {
    document.getElementById(div1).style.display = 'block';
  }

  function hideValue2(div1) {
    document.getElementById(div1).style.display = 'none';
  }



  function checkRadios() {
    var sCheck = [];
    var checks = document.getElementsByTagName('input');
    for (i = 0; i < checks.length; i++) {
      if (checks[i].type == 'radio' ) {
        console.log(checks[i].id)
        sCheck.push(checks[i].value, checks[i].name);
      }
    }
    console.log(sCheck)
  }

</script> -->

{% endblock %}


selector.addEventListener("click", () => {
// if default value is changed
  selector.addEventListener("change", () => {
  // if value switched by client
    switch (selector.value) {
      case "add":
      //do somthing with  , "add" value
        result.innerHTML = selector.value;
        break;  // then take break
      case "remove":
      //do somthing with  , "remove" value
        result.innerHTML = selector.value;
        break; // then take break
    }
  });
});
