{% set pagetitle ="Add a filter" %}
{% set versionNumber ="004" %}
{% extends 'layout.html' %}
{% block header %}
{% include 'foundations/header-signed-in-campaign.html' %}
{% endblock %}
{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% block pageTitle %}
{{ pagetitle }}
{% endblock %}

{% block outerContent %}
{{ backLink({
  "href": "javascript:window.history.back()",
  "text": "Back",
  "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}
{% block content %}

<style>

  .js-signout {
    text-align: right;
    font-size: 16px;
    font-family: 'proxima_nova', Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    z-index: 60;
    clear: none;
    background: transparent;
    border-bottom: 1px solid #bfc1c3;
    vertical-align: top;
    padding-bottom: 20px;
    font-size: 17px;

  }
  .filterLine {
    display: inline-block;
    list-style-type: none;
    vertical-align: top;
    text-align: left;
    margin: 0;
    float:left;
    font-size: 17px;
  }

  .filterLabel {
    font-size: 17px;
  }

  .filterLine, li {
    display: inline-block;
    vertical-align: bottom;
    font-size: 17px;
  }
  .newCR {
    display: block;
    vertical-align: top;
    padding-left:5px;
    font-size: 17px;

  }
  input:checked  {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: white;
    height: 20px;
    width: 20px;
    border: 2px solid black;
    color: black;
  }

  input:after {
    content:"";
    position: absolute;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 20%;
    border: 5px solid #000000;
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
    display: none;
  }

  input:checked:after {
    display: block;
  }
  li {
    font-size:17px;
    margin-top:3px;
    margin-bottom:2px;
  }
</style>
{% set cohortsArray = [] %}


{% set cohortsArray = cohortsArray.concat("COVID-19 vaccination for people aged 75 to 115 years old") %}



{% set HoS = 'none' %}



<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <caption class="nhsuk-table__caption"><h1 class="nhsuk-heading-xl">Add a filter by age</h1></caption>

    {% include './foundations/cohortTable.html' %}
    {% include './foundations/age-filter-include.html' %}



{% endblock %}
