Covid Spring 2024 Campaign
15-04-2024 - 26-06-2024

CaaS (30-06-2024)

Cohorts           Immunosuppressed 5-74s
                  Age based 75+


Groups            1) 85+ (75+ London)
                  2) 75-84 (IS London)
                  3) IS (Non-London)


15 April 2024     Invite - immunosuppressed (5-74s) and Age 75+   Email only                                3839291
16 April 2024     G1 Invite - Age 85+                             Age 75+ (London)                          1934991
23 April 2024     G2 Invite - Age 75-84                           Immunosuppressed 5-74s (London)           3442325
30 April 2024     G3 Invite - Immunosuppressed (5-74s)                                                      1019189
07 May 2024       G1 1st Reminder - Age 85+                       Age 75+ (London)                          1372160
14 May 2024       G2 1st Reminder - Age 75-84                     Immunosuppressed 5-74s (London)           2366993
21 May 2024       G3 1st Reminder - Immunosuppressed (5-74s)      Excl London                                984465
28 May 2024       G1 2nd Reminder - Age 85+                       Age 75+ (London)                           606896
04 June 2024      G2 2nd Reminder - Age 75-84                     Immunosuppressed 5-74s (London)           1317215
11 June 2024      G3 2nd Reminder - Immunosuppressed (5-74s)      N/a London (invited previous week)         853602
18 June 2024


                                          -------> 3 weeks -----> ----------> 3 weeks --------->
                                          Invite                  1st Reminder                  2nd Reminder
Groups            1) 85+ (75+ London)     16 April 2024           07 May 2024                   28 May 2024
                                          G1 Invite - Age 85+     G1 1st Reminder - Age 85+     G1 2nd Reminder - Age 85+

                  2) 75-84 (IS London)    23 April 2024           14 May 2024                   04 June 2024
                                          G2 Invite - Age 75-84   G2 1st Reminder - Age 75-84   G2 2nd Reminder - Age 75-84

                  3) IS (Non-London)      30 April 2024           21 May 2024                   11 June 2024
                                          G3 Invite - IS (5-74s)  G3 1st Reminder - IS (5-74s)  G3 2nd Reminder - IS (5-74s)

COVID-19
The following clinical at-risk groups within scope of this digital cohort development will receive invitations to present for a COVID-19 spring 2024 vaccination (as specified by NHS England) are:

Adults aged 16 years and over diagnosed with:                     immunosuppression
Children 6 months to and 15 years inclusive diagnosed with:       immunosuppression
Age based cohorting:                                              people aged 75 years or over before 30 June 2024

The clinical at-risk groups within scope of this digital cohort development (as specified by NHS England) are:

Adults aged 16 years and over diagnosed with:                     chronic respiratory disease
                                                                  chronic heart disease and vascular disease
                                                                  chronic kidney disease
                                                                  chronic liver disease
                                                                  chronic neurological disease
                                                                  diabetes mellitus and other endocrine disorders
                                                                  immunosuppression
                                                                  asplenia or dysfunction of the spleen
                                                                  morbidly obese
                                                                  severe mental illness

Children 6 months to 15 years inclusive diagnosed with:           chronic respiratory disease
                                                                  chronic heart conditions
                                                                  chronic conditions of the kidney, liver, or digestive system
                                                                  chronic neurological disease
                                                                  endocrine disorders
                                                                  immunosuppression
                                                                  asplenia or dysfunction of the spleen
                                                                  serious genetic abnormalities that affect a number of systems







Age based cohorting:                                              People aged 75 years or over before 30 June 2024

Data sets used are:
GPES (General Practice Extraction service) v5: COVID-19 at risk patients data collection version 5
Hospital Episode Statistics (HES) database
OPCS-4: Classification of Interventions and Procedures
Systemic Anti-Cancer Therapy (SACT) Dataset
Radiotherapy Treatment Data Service (RTDS)
Personal Demographics Service (PDS)


FLU

The clinical at-risk groups within the Green Book are:

chronic respiratory disease
chronic heart disease and vascular disease
chronic kidney disease
chronic liver disease
chronic neurological disease
Diabetes and adrenal insufficiency
Immunosuppression
morbid obesity (class 3 obesity)
Asplenia or dysfunction of the spleen
pregnant women

2 to 3 years of age on 31 August 2023
4 to 16 years of age on 31 August 2023
65 years of age and over on 31 August 2023


GPES (General Practice Extraction service) v5
Personal Demographics Service
