<script>
const campaignData =
{
   "campaign":
   {
      "details":
      {
         "campaignId": "uuid",
         "Name": "",
         "startDate": "",
         "endDate": "",
         "type": "",
         "target": "",
         "SRO": "owner"
      },
      "governance":
      {
         "budget":
         {
            "budgetId": "uuid",
            "approvalStatus": "",
            "costCentre": "",
            "budgetHolder": "SRO"
         }
         "actors":
         {
            "owner":
            {
               "campaignId": "uuid",
               "userId": "uuid",
               "name": "",
               "email": "",
               "permission": ""
            },
            "approver":
            {
               "campaignId": "uuid",
               "userId": "uuid",
               "name": "",
               "email": "",
               "permission": ""
            },
            "editor":
            {
               "campaignId": "uuid",
               "userId": "uuid",
               "name": "",
               "email": "",
               "permission": ""
            }
         },
         "OKRs":
         {
            "1":
            {
               "OKRId": "uuid",
               "objective": "",
               "keyResults":
               [
                  "keyResult1",
                  "keyResult2",
                  "keyResult3"
               ],
               "outcome":
               {
                  "outcomeId": "uuid",
                  "OKRId": "uuid",
                  "title": "",
                  "description": "",
                  "date": ""
               }
            },
            "2":
            {
               "OKRId": "uuid",
               "objective": "",
               "keyResults":
               [
                  "keyResult1",
                  "keyResult2",
                  "keyResult3"
               ],
               "outcome":
               {
                  "outcomeId": "uuid",
                  "OKRId": "uuid",
                  "title": "",
                  "description": "",
                  "date": ""
               }
            },
            "3":
            {
               "OKRId": "uuid",
               "objective": "",
               "keyResults":
               [
                  "keyResult1",
                  "keyResult2",
                  "keyResult3"
               ],
               "outcome":
               {
                  "outcomeId": "uuid",
                  "OKRId": "uuid",
                  "title": "",
                  "description": "",
                  "date": ""
               }
            }
         },
         "workflow":
         {
            "events":
            {
               "eventId": "uuid",
               "campaignId": "uuid",
               "eventType":
               {
                  "requestApproval":
                  {
                     "requestId": "uuid",
                     "requestingUserId": "userId",
                     "approvingUserId": "userId",
                     "requestDetails":
                     {
                        "description": "",
                        "requestStatus": "",
                        "decisionId": "uuid",
                        "decisionExplanation": ""
                     }
                  }
               }
            }
         }
      }
   }
};
window.sessionStorage.setItem("campaignData", JSON.stringify(campaignData));
</script>




   {
      "cohorts":
      {
         "1":
         {
            "cohortId": "uuid",
            "name": "Under 16 Chronic neurological Disease",
            "estSize": "5782",
            "refreshDate": "11 April 2024",
            "description": "Aliquam erat volutpat. Duis sit amet orci scelerisque, porttitor magna vel, congue nisl."
         },
         "2":
         {
            "cohortId": "uuid",
            "name": "Age 75+",
            "estSize": "2820102",
            "refreshDate": "4 March 2024",
            "description": "Aliquam vitae pellentesque lacus, non condimentum massa."
         },
         "3":
         {
            "cohortId": "uuid",
            "name": "Age 75-84",
            "estSize": "3442325",
            "refreshDate": "14 May 2024",
            "description": "Etiam mattis massa ut erat hendrerit tempus ac nec sem. Fusce sit amet sagittis quam. Cras quis dapibus sem."
         },
         "4":
         {
            "cohortId": "uuid",
            "name": "Immunosuppressed (5-74s)",
            "estSize": "1149754",
            "refreshDate": "14 May 2024",
            "description": "lorem ipsum dolor sit amet, blah blah, lorem ipsum."
         },
         "5":
         {
            "cohortId": "uuid",
            "name": "16+ Chronic neurological Disease",
            "estSize": "5782",
            "refreshDate": "14 May 2024",
            "description": "Aliquam vitae pellentesque lacus, non condimentum massa."
         },
         "6":
         {
            "cohortId": "uuid",
            "name": "Age 75+ (London)",
            "estSize": "720102",
            "refreshDate": "14 May 2024",
            "description": "Donec efficitur et ligula ut blandit. Curabitur fringilla molestie dignissim."
         },
         "7":
         {
            "cohortId": "uuid",
            "name": "Under 5s",
            "estSize": "125782",
            "refreshDate": "14 May 2024",
            "description": "Cras fringilla erat vel lectus porttitor egestas. Cras vulputate nisi a est fermentum feugiat."
         },
         "8":
         {
            "cohortId": "uuid",
            "name": "Age 85+",
            "estSize": "427932",
            "refreshDate": "17 May 2024",
            "description": "Etiam mattis massa ut erat hendrerit tempus ac nec sem. Fusce sit amet sagittis quam. Cras quis dapibus sem."
         },
         "9":
         {
            "cohortId": "uuid",
            "name": "Age 5-74 immunosuppressed",
            "estSize": "1149754",
            "refreshDate": "14 May 2024",
            "description": "Cras fringilla erat vel lectus porttitor egestas. Cras vulputate nisi a est fermentum feugiat."
         },
         "10":
         {
            "cohortId": "uuid",
            "name": "16+ Serious Genetic Abnormalities",
            "estSize": "19264",
            "refreshDate": "21 April 2024",
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras egestas ante rutrum, iaculis odio eget, fringilla mauris."
         }
      }
   }
