
    function setupBehaviours(){

      const behavioursGraded = {
        "level0": {
          "1": {
            "title": "Seeing the big picture",
            "description": "Understand how your role fits with and supports organisational objectives. Recognise the wider Civil Service priorities and ensure work is in the national interest.",
          },
          "2": {
            "title": "Changing and improving",
            "description": "Seek out opportunities to create effective change and suggest innovative ideas for improvement. Review ways of working, including seeking and providing feedback."
          },
          "3": {
            "title": "Making Effective Decisions",
            "description": "Use evidence and knowledge to support accurate, expert decisions and advice. Carefully consider alternative options, implications and risks of decisions."
          },
          "4": {
            "title": "Leadership",
            "description": "Show pride and passion for public service. Create and engage others in delivering a shared vision. Value difference, diversity and inclusion, ensuring fairness and opportunity for all."
          },
          "5": {
            "title": "Communicating and Influencing",
            "description": "Communicate purpose and direction with clarity, integrity and enthusiasm. Respect the needs, responses and opinions of others."
          },
          "6": {
            "title": "Working Together",
            "description": "Form effective partnerships and relationships with people both internally and externally, from a range of diverse backgrounds, sharing information, resources and support."
          },
          "7": {
            "title": "Developing Self and Others",
            "description": "Focus on continuous learning and development for self, others and the organisation as a whole."
          },
          "8": {
            "title": "Managing a Quality Service",
            "description": "Deliver service objectives with professional excellence, expertise and efficiency, taking account of diverse customer needs."
          },
          "9": {
            "title": "Delivering at Pace",
            "description": "Take responsibility for delivering timely and quality results with focus and drive."
          }
        }
        }
      }

      window.sessionStorage.setItem("behaviours", JSON.stringify(behavioursGraded));

    }



    function setupBehaviourStrengths(){


      const behaveStrengths = {
        "1": {
          "title": "Seeing the big picture",
          "description": "Understand how your role fits with and supports organisational objectives. Recognise the wider Civil Service priorities and ensure work is in the national interest.",
          "strengths": [
          "Challenger",
          "Mission",
          "Strategic",
          "Visionary"
          ]
        },

        "2": {
          "title": "Changing and improving",
          "description": "Seek out opportunities to create effective change and suggest innovative ideas for improvement. Review ways of working, including seeking and providing feedback.",
          "strengths": [
          "Adaptable",
          "Courageous",
          "Change Agent",
          "Improver"
          ]
        },

        "3":  {
          "title": "Making Effective Decisions",
          "description": "Use evidence and knowledge to support accurate, expert decisions and advice. Carefully consider alternative options, implications and risks of decisions.",
          "strengths": [
          "Analytical",
          "Decisive",
          "Preventer",
          "Problem Solver"
          ]
        },
        "4": {
          "title": "Leadership",
          "description": "Show pride and passion for public service. Create and engage others in delivering a shared vision. Value difference, diversity and inclusion, ensuring fairness and opportunity for all.",
          "strengths": [
          "Confident",
          "Change Agent",
          "Inclusive",
          "Motivator"
          ]
        },
        "5":  {
          "title": "Communicating and Influencing",
          "description": "Communicate purpose and direction with clarity, integrity and enthusiasm. Respect the needs, responses and opinions of others.",
          "strengths": [
          "Authentic",
          "Emotionally Intelligent",
          "Explainer",
          "Inclusive"
          ]
        },
        "6":   {
          "title": "Working Together",
          "description": "Form effective partnerships and relationships with people both internally and externally, from a range of diverse backgrounds, sharing information, resources and support.",
          "strengths": [
          "Challenger",
          "Emotionally Intelligent",
          "Inclusive",
          "Negotiator"
          ]
        },
        "7":{



const campaign = {




}


createdOn
createdBy
modifiedOn
modifiedBy
owner
      ownerName
      ownerEmail
approver
      approverName
      approverEmail
editor
author

campaign
Name
campaignId
startDate
endDate
type
target


"campaign":
{
   "details":
   {
      "campaignId": "uuid",
      "name": "",
      "startDate": "",
      "endDate": "",
      "type": "",
      "target": ""
   },


{
   "governance":
   {
      "actors":
      {
         "owner":
         {
            "campaignId": "uuid",
            "userId": "uuid",
            "name": "",
            "email": "",
            "permission": ""
         },
         "approver":
         {
            "campaignId": "uuid",
            "userId": "uuid",
            "name": "",
            "email": "",
            "permission": ""
         },
         "editor":
         {
            "campaignId": "uuid",
            "userId": "uuid",
            "name": "",
            "email": "",
            "permission": ""
         }
      },
      "OKRs":
      {
         "1":
         {
            "OKRId": "uuid",
            "objective": "",
            "keyResults":
            [
               "keyResult1",
               "keyResult2",
               "keyResult3"
            ],
            "outcome":
            {
               "outcomeId": "uuid",
               "OKRId": "uuid",
               "title": "",
               "description": "",
               "date": ""
            }
         },
         "2":
         {
            "OKRId": "uuid",
            "objective": "",
            "keyResults":
            [
               "keyResult1",
               "keyResult2",
               "keyResult3"
            ],
            "outcome":
            {
               "outcomeId": "uuid",
               "OKRId": "uuid",
               "title": "",
               "description": "",
               "date": ""
            }
         },
         "3":
         {
            "OKRId": "uuid",
            "objective": "",
            "keyResults":
            [
               "keyResult1",
               "keyResult2",
               "keyResult3"
            ],
            "outcome":
            {
               "outcomeId": "uuid",
               "OKRId": "uuid",
               "title": "",
               "description": "",
               "date": ""
            }
         }
      },
   }
}








    function setupStrengths(){

      const strengths = {
        "1":
        {
          "title": "Adaptable",
          "description": "You can adapt to variations in work or environment and your effectiveness isn’t impacted by change. You are flexible and versatile and act as an advocate for change.",
          "selected": "No"
        },
        "2":
        {
          "title": "Analytical",
          "description": "You seek and analyse information to inform decisions based on the best available evidence.",
          "selected": "No"
        },
        "3":
        {
          "title": "Authentic",
          "description": "You are self-aware and true to yourself in all situations, even when under pressure.",
          "selected": "No"
        },
        "4":
        {
          "title": "Catalyst",
          "description": "You are self-motivated to act to achieve a goal. You are confident using your own initiative to take forward actions.",
          "selected": "No"
        },
        "5":
        {
          "title": "Challenger",
          "description": "You can bring a fresh perspective whatever the situation or context. You see other people’s views and can appreciate there are many different angles to consider.",
          "selected": "No"
        },
        "6":
        {
          "title": "Change Agent",
          "description": "You are positive and inspirational in leading and supporting others through change.",
          "selected": "No"
        },
        "7":
        {
          "title": "Confident",
          "description": "You take charge of situations, people and decisions. You communicate confidently and give direction.",
          "selected": "No"
        },
        "8":
        {
          "title": "Courageous",
          "description": "You are an innovator who tries new approaches and pushes yourself to work outside your comfort zone.",
          "selected": "No"
        },
        "9":
        {
          "title": "Decisive",
          "description": "You use your judgement and take a considered approach to situations and tasks when making decisions.",
          "selected": "No"
        },
        "10":
        {
          "title": "Disciplined",
          "description": "You follow processes, operating firmly within set standards, rules and guidelines.",
          "selected": "No"
        },
        "11":
        {
          "title": "Efficient",
          "description": "You convert resources into results in the most efficient and economical way.",
          "selected": "No"
        },
        "12":
        {
          "title": "Emotionally Intelligent",
          "description": "You draw insight from your own emotions and those of others to demonstrate empathy.",
          "selected": "No"
        },
        "13":
        {
          "title": "Enabler",
          "description": "You see the potential in everybody and encourage them to learn, progress and develop.",
          "selected": "No"
        },
        "14":
        {
          "title": "Explainer",
          "description": "You communicate thoughts and ideas, verbally or in writing. You simplify complexities and adapt communication so others can understand.",
          "selected": "No"
        },
        "15":
        {
          "title": "Focussed",
          "description": "You strive for quality outcomes and excellence in everything you do.",
          "selected": "No"
        },
        "16":
        {
          "title": "Inclusive",
          "description": "You recognise everyone as an individual, accepting people for who they are and treating everyone fairly. You actively encourage and provide opportunities for others to share ideas and contributions.",
          "selected": "No"
        },
        "17":
        {
          "title": "Influencer",
          "description": "You influence others, you articulate the rationale to gain their agreement.",
          "selected": "No"
        },
        "18":
        {
          "title": "Improver",
          "description": "You look for better ways of doing things and enjoy coming up with new and original ideas.",
          "selected": "No"
        },
        "19":
        {
          "title": "Learner",
          "description": "You are inquisitive, you seek out new information and look for new ways to develop yourself.",
          "selected": "No"
        },
        "20":
        {
          "title": "Mediator",
          "description": "You provide stability and cohesion within teams, finding common ground and purpose. You enjoy collaborating with others to drive forward a shared goal.",
          "selected": "No"
        },
        "21":
        {
          "title": "Mission",
          "description": "You pursue things which give you a sense of meaning and purpose, working towards a longer term goal.",
          "selected": "No"
        },
        "22":
        {
          "title": "Motivator",
          "description": "You are highly driven and inspire others to move things along and make things happen.",
          "selected": "No"
        },
        "23":
        {
          "title": "Negotiator",
          "description": "You facilitate constructive discussions and enjoy getting all parties to reach an agreement.",
          "selected": "No"
        },
        "24":
        {
          "title": "Networker",
          "description": "You proactively create and maintain positive, professional and trusting working relationships with a wide range of people within and outside the organisation. You identify connections and reach out to bring people together.",
          "selected": "No"
        },
        "25":
        {
          "title": "Organiser",
          "description": "You make plans and are well prepared. You seek to maximise time and productivity.",
          "selected": "No"
        },
        "26":
        {
          "title": "Precise",
          "description": "You are detail-focussed, you ensure everything is accurate and error free.",
          "selected": "No"
        },
        "27":
        {
          "title": "Preventer",
          "description": "You think ahead to anticipate, identify and address any risks or problems before they occur.",
          "selected": "No"
        },
        "28":
        {
          "title": "Problem Solver",
          "description": "You take a positive approach to tackling problems and find ways to identify suitable solutions.",
          "selected": "No"
        },
        "29":
        {
          "title": "Relationship Builder",
          "description": "You quickly establish mutual respect and trust, building long lasting relationships with others.",
          "selected": "No"
        },
        "30":
        {
          "title": "Resilient",
          "description": "You have inner composure, recover quickly from setbacks and learn from them.",
          "selected": "No"
        },
        "31":
        {
          "title": "Responsible",
          "description": "You take ownership for your decisions and hold yourself accountable for what you have promised to deliver.",
          "selected": "No"
        },
        "32":
        {
          "title": "Service Focussed",
          "description": "You look for ways to serve customers putting their needs at the heart of everything you do.",
          "selected": "No"
        },
        "33":
        {
          "title": "Strategic",
          "description": "You look at the big picture and consider the wider factors and long term implications of decisions.",
          "selected": "No"
        },
        "34":
        {
          "title": "Team Leader",
          "description": "You are confident to lead a team and can effectively manage team dynamics to drive forward a shared goal.You take into consideration everyone’s individual needs and create a genuine team spirit.",
          "selected": "No"
        },
        "35":
        {
          "title": "Team Player",
          "description": "You work well as part of a team and strive to ensure the team pulls together and is effective.",
          "selected": "No"
        },
        "36":
        {
          "title": "Visionary",
          "description": "You create and share a clear vision of the future.",
          "selected": "No"
        }
      }

      window.sessionStorage.setItem("strengths", JSON.stringify(strengths));
