{% set pagetitle ="Home" %}
{% set versionNumber ="004" %}
{% extends 'layout.html' %}
{% block header %}
{% if data['name']|length >0 %}
{% include 'foundations/header-signed-in-campaign.html' %}
{% else %}
{% include 'foundations/header-signed-in.html' %}
{% endif %}
{% endblock %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  {{ pagetitle }}
{% endblock %}

<style>

a:visited {
      color: #005EB8;

}

</style>

  <div class="nhsuk-width-container-fluid">


    {% block content %}
  <main class="nhsuk-main-wrapper" id="maincontent" role="main">
      <div class="nhsuk-grid-row">



        <div class="nhsuk-grid-column-full">

        <h1>Welcome back {{ data['email-address']|default("name@nhs.net") }}</h1>

        {% from 'card/macro.njk' import card %}
        {% if data['name']|length >0 %}
        <ul class="nhsuk-grid-row nhsuk-card-group">

        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
          {{ card({
            "href": "task-list-govuk",
            "primary": "true",
            "clickable": "true",
            "heading": data['name']|default("Covid-19 Spring 2024 Booster"),
            "headingClasses": "nhsuk-heading-m",
            "description": "Continue setting up your campaign."
          }) }}
        </li>
</ul>
    {% endif %}


    <ul class="nhsuk-grid-row nhsuk-card-group">
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h5 class="nhsuk-card__heading nhsuk-heading-s">
              <a style="color: #005EB8;" class="novisitors nhsuk-card__link" href="campaign-type">Create a new campaign</a>
            </h5>

          </div>
        </div>

      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">

       <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h5 class="nhsuk-card__heading nhsuk-heading-s">
              <a style="color: #005EB8;" class="novisitors nhsuk-card__link" href="campaign-status">Update an existing campaign</a>
            </h5>

          </div>
       </div>

      </li>

    </ul>

    </div>
  </main>
</div>

{% endblock %}