{% extends 'layout.html' %}
{% set versionNumber ="006b" %}
{% block header %}

{% include 'foundations/header-signed-out.html' %}



{% endblock %}

{% block content %}




  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-xl">{{serviceName}}</h1>
      <p>You can use this service if you:</p>
      <ul>
        <li>are inviting people who live in England for a vaccination or screening</li>
        <li>want to create a new vaccination or screening campaign</li>
        <li>want to update an existing vaccination or screening campaign</li>
      </ul>

      <h2>Before you start</h2>

      <p>You will need:</p>
      <ul>
        <li>xxxxx</li>
        <li>xxxxx</li>
        <li>xxxxx</li>
      </ul>

      <a class="nhsuk-button" href="sign-in" role="button" draggable="false">Start</a>


    </div>
  </div>
{% endblock %}
