{% set pagetitle ="Key details bar" %}
{% set versionNumber ="004" %}
{% extends 'layout.html' %}
{% block header %}
{% include 'foundations/header-signed-in-campaign.html' %}
{% endblock %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  {{ pagetitle }}
{% endblock %}


{% block outerContent %}
  {{ backLink({
    "href": "javascript:window.history.back()",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}


{% block content %}


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      {% macro dwpKeyDetailsBar(params) %}
        {%- include "./template.njk" -%}
      {% endmacro %} 

      {% from "key-details-bar/macro.njk" import dwpKeyDetailsBar %}

      {{
          dwpKeyDetailsBar({
              primaryIdentifier: {
                  text: 'Name:',
                  value: 'Jane Doe'
              },
              secondaryIdentifier: {
                  text: 'National Insurance Number:',
                  value: 'QQ 12 34 56 X'
              },
              status: {
                  text: 'Claim status:',
                  value: 'Completed'
              },
              additionalData: [
              {
                  text: "Date of birth:",
                  value: "4 June 1972"
              },
              {
                  text: "Case reference:",
                  value: "RM PX 30"
              }
              ]
          })
      }}



      {% set cohortsArray = [] %}

      {% if (data['newCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['newCohorts']) %} {% endif %}
      {% if (data['covidCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['covidCohorts']) %} {% endif %}
      {% if (data['fluCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['fluCohorts']) %} {% endif %}
      {% if (data['under16Cohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['under16Cohorts']) %} {% endif %}
      {% if (data['immunoCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['immunoCohorts']) %} {% endif %}
      {% if (data['allCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['allCohorts']) %} {% endif %}



<h1 class="nhsuk-heading-l">Key details bar DWP</h1>


<section class="dwp-key-details-bar" aria-label="Key details">
<div class="dwp-key-details-bar__key-details">
<dl class="dwp-key-details-bar__top-block">
  <dt class="govuk-visually-hidden">Name:</dt>
  <dd class="dwp-key-details-bar__primary">Jane Doe</dd>
  <dt class="govuk-visually-hidden">National Insurance Number:</dt>
  <dd class="dwp-key-details-bar__secondary">QQ 12 34 56 X</dd>
  <dt class="govuk-visually-hidden">Claim status:</dt>
  <dd class="dwp-key-details-bar__status">
    <strong class="govuk-tag dwp-key-details-bar__status--dwp-default">
      Completed
    </strong>
  </dd>
</dl>
<dl class="dwp-key-details-bar__bottom-block">
  <dt>Date of birth:</dt>
  <dd>4 June 1972</dd>
  <dt>Case reference:</dt>
  <dd>RM PX 30</dd>
</dl>
</div>
</section>










</div>



    </div>


{% endblock %}
