{% set pagetitle ="Summary of selected cohorts" %}
{% set versionNumber ="004" %}
{% extends 'layout.html' %}
{% block header %}
{% include 'foundations/header-signed-in-campaign.html' %}
{% endblock %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  {{ pagetitle }}
{% endblock %}


{% block outerContent %}
{{ backLink({
  "href": "javascript:window.history.back()",
  "text": "Back",
  "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}

{% block content %}

{% set val =
   {
      "1":
      {
         "cohortId": "uuid",
         "name": "Under 16 Chronic neurological Disease",
         "estSize": "5,782",
         "refreshDate": "11 April 2024",
         "description": "Aliquam erat volutpat. Duis sit amet orci scelerisque, porttitor magna vel, congue nisl."
      },
      "2":
      {
         "cohortId": "uuid",
         "name": "Age 75+",
         "estSize": "2,820,102",
         "refreshDate": "4 March 2024",
         "description": "Aliquam vitae pellentesque lacus, non condimentum massa."
      },
      "3":
      {
         "cohortId": "uuid",
         "name": "Age 75-84",
         "estSize": "3,442,325",
         "refreshDate": "14 May 2024",
         "description": "Etiam mattis massa ut erat hendrerit tempus ac nec sem. Fusce sit amet sagittis quam. Cras quis dapibus sem."
      },
      "4":
      {
         "cohortId": "uuid",
         "name": "Immunosuppressed (5-74s)",
         "estSize": "1,149,754",
         "refreshDate": "14 May 2024",
         "description": "lorem ipsum dolor sit amet, blah blah, lorem ipsum."
      },
      "5":
      {
         "cohortId": "uuid",
         "name": "16+ Chronic neurological Disease",
         "estSize": "5,782",
         "refreshDate": "14 May 2024",
         "description": "Aliquam vitae pellentesque lacus, non condimentum massa."
      },
      "6":
      {
         "cohortId": "uuid",
         "name": "Age 75+ (London)",
         "estSize": "720,102",
         "refreshDate": "14 May 2024",
         "description": "Donec efficitur et ligula ut blandit. Curabitur fringilla molestie dignissim."
      },
      "7":
      {
         "cohortId": "uuid",
         "name": "Under 5s",
         "estSize": "125,782",
         "refreshDate": "14 May 2024",
         "description": "Cras fringilla erat vel lectus porttitor egestas. Cras vulputate nisi a est fermentum feugiat."
      },
      "8":
      {
         "cohortId": "uuid",
         "name": "Age 85+",
         "estSize": "427,932",
         "refreshDate": "17 May 2024",
         "description": "Etiam mattis massa ut erat hendrerit tempus ac nec sem. Fusce sit amet sagittis quam. Cras quis dapibus sem."
      },
      "9":
      {
         "cohortId": "uuid",
         "name": "Age 5-74 immunosuppressed",
         "estSize": "1,149,754",
         "refreshDate": "14 May 2024",
         "description": "Cras fringilla erat vel lectus porttitor egestas. Cras vulputate nisi a est fermentum feugiat."
      },
      "10":
      {
         "cohortId": "uuid",
         "name": "16+ Serious Genetic Abnormalities",
         "estSize": "19,264",
         "refreshDate": "21 April 2024",
         "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras egestas ante rutrum, iaculis odio eget, fringilla mauris."
      }
   }
   %}





   {% macro summaryList(data) %}
  <ul>
    {% for key, value in data %}
      <li>{{ key }}: {{ value }}</li>
    {% endfor %}
  </ul>
{% endmacro %}


   {% macro summaryList(data) %} <ul> {% for key, value in data %} <li>{{ key }}: {{ value }}</li> {% endfor %} </ul> {% endmacro %} {% macro dataTable(data) %} <table> <thead> <tr> {% for key in data|first|keys %} <th>{{ key }}</th> {% endfor %} </tr> </thead> <tbody> {% for row in data %} <tr> {% for key, value in row %} <td>{{ value }}</td> {% endfor %} </tr> {% endfor %} </tbody> </table> {% endmacro %}



{% set loader = [] %}

{% if data['cohorts'].length > 0 %}
{% set loader = (loader.push(data['cohorts']), loader) %}

{% endif %}

{% if data['cohorts-drop'].length > 0 %}
{% set loader = (loader.push(data['cohorts-drop']), loader) %}
{% endif %}

{% set testRay = [] %}
{% for key, value in val %}
{% for thing in loader %}
{% if thing == value.name  %}

{% else %}
{% endif %}
{% endfor %}
{% endfor %}








<form action="task-list-govuk?cohortsSel=true" method="post">

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <!-- <span class="nhsuk-caption-l nhsuk-u-padding-bottom-1">Create a new campaign</span> -->
    <h1>
      Selected cohorts
    </h1>

<p class="nhsuk-body">These are the selected cohorts for the campaign.</p>


<dl class="nhsuk-summary-list">
   {% set sumCountCohort = [] %}

    {% for key, value in val %}
    {% for item in data['cohorts'] %}
    {% if item == value.name  %}

    <div class="nhsuk-summary-list__row">

      <dt class="nhsuk-summary-list__key">
         Cohort<BR>(Estimate)
      </dt>

      <dd style="width:70%" class="nhsuk-summary-list__value">{{value.name}}<BR>{{value.estSize}}</dd>
      <dd class="nhsuk-summary-list__actions">
         <a href="select-cohorts?repickCohorts=true">
           Update<span class="nhsuk-u-visually-hidden"> cohort</span>
         </a>
      </dd>

    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}

    {% for key, value in val %}
    {% for things in data['cohorts-drop'] %}
    {% if things == value.name  %}
    <div class="nhsuk-summary-list__row">

   <dt class="nhsuk-summary-list__key">
      Cohort<BR>(Estimate)
   </dt>

   <dd style="width:70%" class="nhsuk-summary-list__value">{{value.name}}<BR>{{value.estSize}}</dd>

      {% if (things.length > 1) %}

      {% set sum = sumCountCohort | sum | thouCommaNum %}
      {{sum}}
      {% endif %}
      <tr role="row" class="nhsuk-table__row"> <td style="text-align:right" class="nhsuk-table__cell">Est. size</td> <td style="text-align:right" id="" class="nhsuk-table__cell ">{{sumCountCohort | sum | thouCommaNum }}</td> </tr> -->

   <dd class="nhsuk-summary-list__actions">
      <a href="select-cohorts?repickCohorts=true">
        Update<span class="nhsuk-u-visually-hidden"> cohort</span>
      </a>
   </dd>

 </div>
 {% endif %}
 {% endfor %}
 {% endfor %}

</dl>



    {{ button({
      text: "Save and continue"
    }) }}
    </form>
  </div>
</div>

{% endblock %}
