{% set pagetitle ="Task list" %}
{% set versionNumber ="004" %}
{% extends 'layout.html' %}
{% block header %}
{% include 'foundations/header-signed-in-campaign.html' %}
{% endblock %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}
{% block pageTitle %}
{{ pagetitle }}
{% endblock %}
{% block outerContent %}
{{ backLink({
  "href": "javascript:window.history.back()",
  "text": "Back",
  "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">

    <span class="nhsuk-caption-m nhsuk-u-padding-bottom-1">{{ data['campaign-target']}} {{ data['campaign-type']|lower}}</span>
    <h1 class="nhsuk-heading-l">{{ data['name'] }}

      {% if data['fromDate']|length > 0 %}
      <span class="nhsuk-body-m nhsuk-u-padding-top-3">{{ data['fromDate']|formatDate|default("29 April") }} - {{ data['toDate']|formatDate|default("12 May")}}</span>
      {% else %}
      {% endif %}

    </h1>


    <style>


      .govuk-tag {
        display: inline-block;
        margin-top: -2px;
        margin-bottom: -3px;
        padding-top: 2px;
        padding-right: 8px;
        padding-bottom: 3px;
        padding-left: 8px;
        text-decoration: none;
        overflow-wrap: break-word;
        font-weight: bold;
      }

      .govuk-tag--gris {
        background:dimgrey;
      }

      .govuk-tag--grey {
  background:#f0f4f5;
}

      .govuk-task-list {
        margin-top: 0;
        padding: 0;
        list-style-type: none;
      }

      .govuk-task-list__item {
        display: table;
        position: relative;
        width: 100%;
        margin-bottom: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid lightgrey;
        font-size:17px;
      }

      .govuk-task-list__item:first-child {
        border-top: 1px solid lightgrey;
      }

      .govuk-task-list__item--with-link:hover {
        background-color:#d8dde0;
        border-bottom: 1px solid lightgrey;
      }

      .govuk-task-list__name-and-hint {
        display: table-cell;
        vertical-align: top;

      }

      .govuk-task-list__status {
        display: table-cell;
        float:right;
        text-align: right;
        padding-right:5px;
        vertical-align: top;
      }

      .govuk-task-list__link::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      .govuk-task-list__hint {
        margin-top: 5px;
      }

    </style>



  <h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Campaign admin</h2>
    <ul class="govuk-task-list">
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-1-status">
            Update campaign name, start and end dates



          </a>
        </div>
        <div class="govuk-task-list__status" id="company-details-2-status">
          <strong class="govuk-tag nhsuk-tag--white">
            Optional
          </strong>
        </div>



      </li>
      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-2-status">
            Change campaign type and target
          </a>
        </div>
        <div class="govuk-task-list__status" id="company-details-2-status">
          <strong class="govuk-tag nhsuk-tag--white">
            Optional
          </strong>
        </div>
      </li>
      </ul>


{% macro newIterationTasklist(title="",count=" ") %}
<h2 class="nhsuk-heading-xs nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">{{title}} #{{ count |int }}</h2>
<ul class="govuk-task-list">
</ul>
{% endmacro %}

{% macro addTask(task="",link="",status="") %}
<li class="govuk-task-list__item govuk-task-list__item--with-link">
  <div class="govuk-task-list__name-and-hint">
    <a class="govuk-link govuk-task-list__link" href="{{link}}" aria-describedby="company-details-3-hint company-details-3-status">
      {{task}}
    </a>
    </div>
  <div class="govuk-task-list__status" id="company-details-3-status">
    <strong class="govuk-tag nhsuk-tag--grey">
      {{status}}
    </strong>
  </div>
</li>
{% endmacro %}


<!-- {{ newIterationTasklist(title="Iteration #", count="1",task="Select cohorts",status="Not started") }} -->



      {% set cohortsArray = [] %}

      {% if (data['newCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['newCohorts']) %} {% endif %}
      {% if (data['covidCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['covidCohorts']) %} {% endif %}
      {% if (data['fluCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['fluCohorts']) %} {% endif %}
      {% if (data['under16Cohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['under16Cohorts']) %} {% endif %}
      {% if (data['immunoCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['immunoCohorts']) %} {% endif %}
      {% if (data['allCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['allCohorts']) %} {% endif %}

<!--
      {% set count = count + "1"  %}

{{ count | int}} -->
<!-- {% if cohortsArray.length > 0 %} -->

<!-- <h2 class="nhsuk-heading-xs nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0">{{ cohortsArray.length }} Cohorts</h2> -->

<!--
    {% for items in cohortsArray %}

{{ items | truncate(75) }}

{% endfor %}

{% endif %} -->



      <h2 class="nhsuk-heading-xs nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">Campaign configuration</h2>
<!-- {{ newIterationTasklist(title='Iteration', count='1',task='Select cohorts',status='Not started') }}
{% macro addTask(task="Select cohorts",link="select-cohorts",status="Not started") %} -->

      <!-- <ul class="govuk-task-list">


      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">



        </div>

      </li>
    </ul> -->
      <!-- <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="select-cohorts" aria-describedby="company-details-3-hint company-details-3-status">
            Select campaign cohorts
          </a>

        </div>
        <div class="govuk-task-list__status" id="company-details-3-status">
          <strong class="govuk-tag nhsuk-tag--grey">
            Not started
          </strong>
        </div>
      </li>


      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-3-hint company-details-3-status">
            Apply a filter
          </a>
          <div id="company-details-3-hint" class="govuk-task-list__hint">
            Include 5 years of the company’s relevant financial information.
          </div>
        </div>
        <div class="govuk-task-list__status" id="company-details-3-status">
          <strong class="govuk-tag nhsuk-tag--grey">
            Not started
          </strong>
        </div>
      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-4-status">
            Apply a suppression
          </a>
        </div>
        <div class="govuk-task-list__status" id="company-details-4-status">
          <strong class="govuk-tag">
            Cannot start
          </strong>
        </div>
      </li>

      <li class="govuk-task-list__item govuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-5-status">
            References
          </a>
        </div>
        <div class="govuk-task-list__status" id="company-details-5-status">
          <strong class="govuk-tag">
            Cannot start
          </strong>
        </div>
      </li> -->



  </div>


</div>


{% endblock %}
