{% set pagetitle ="Task list" %}
{% set versionNumber ="004" %}
{% extends 'layout.html' %}
{% block header %}
{% include 'foundations/header-signed-in-campaign.html' %}
{% endblock %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block pageTitle %}
  {{ pagetitle }}
{% endblock %}


{% block outerContent %}
  {{ backLink({
    "href": "javascript:window.history.back()",
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0"
  }) }}
{% endblock %}

{% block content %}

<style>


.lines {
  padding:7px;
  margin-top:2px;
  margin-bottom:2px;
  border-top:0.5px solid lightgrey;
}

  .linesLast {
    padding:7px;
    margin-top:2px;
    margin-bottom:2px;
    border-top:0.5px solid lightgrey;
    border-bottom:0.5px solid lightgrey;
    font-size:17px;

  }
.tagPos {
  position:relative;
  right:0;
  float:right;
  margin-top:0px;
  border:0;
  font-size:17px;

}

.progress {
  float:right;
  font-size:17px;

  margin-top:4px;
  background:#E5EEF7;
  padding-top:1px;
  padding-bottom:1px;
    padding-left:10px;
  padding-right:10px;

}

.notyet {
  float:right;
  margin-top:4px;
  background:#CCDFF1;
  padding-top:1px;
  padding-bottom:1px;
    padding-left:10px;
  padding-right:10px;

  font-size:17px;


}

.completed {
  float:right;
  margin-top:4px;
  padding-top:1px;
  padding-bottom:1px;
    padding-left:10px;
  padding-right:10px;
  font-size:17px;

}

.optional {
  float:right;
  padding-top:1px;
  padding-bottom:1px;
  padding-left:10px;
  padding-right:10px;
  font-size:17px;
}

.newNotStarted {
  background:#CCDFF1;
  float:right;
  padding-left:10px;
  padding-right:10px;
  font-size:17px;
}

.cannot {
  float:right;
  font-size:17px;
  margin-top:4px;
  background:#CCDFF1;
  padding-top:1px;
  padding-bottom:1px;
    padding-left:10px;
  padding-right:10px;
}


.clean-line {
padding-top:2px;
padding-bottom:2px;
border-top:0.5px solid lightgrey;
font-size:17px;


}

.clean-bot {
padding-top:2px;
padding-bottom:2px;
border-bottom:0.5px solid lightgrey;
font-size:17px;


}

.clean-line-last {
  padding-top:2px;
  padding-bottom:10px;
  font-size:17px;

border-top:0.5px solid lightgrey;
border-bottom:0.5px solid lightgrey;



}

.listItem-focus {

  padding-bottom:10px;
}

.cohort-head {
  border-bottom:5px solid #ffeb3b;

}


.clean-line-bot {
  padding-top:10px;
  padding-bottom:2px;
  font-size:17px;
}

.headline-bot {
  padding-top:3px;
  background:#FFFFFF;
  border-bottom:0.5px solid #005eb8;
  padding-bottom:3px;
  font-size:17px;
}

.hint {
  padding-top:5px;
  padding-bottom:10px;
  font-size:15px;
}

.iterationBox {
  background:#FFFFFF;
  padding-bottom:10px;
  border-bottom:1px solid #005eb8;
}


}

</style>


{% set cohorts =
   {
      "cohortsList":
      {
         "1":
         {
            "cohortId": "uuid",
            "name": "Under 16 Chronic neurological Disease",
            "estSize": "5782",
            "refreshDate": "11 April 2024",
            "description": "Aliquam erat volutpat. Duis sit amet orci scelerisque, porttitor magna vel, congue nisl."
         },
         "2":
         {
            "cohortId": "uuid",
            "name": "Age 75+",
            "estSize": "2820102",
            "refreshDate": "4 March 2024",
            "description": "Aliquam vitae pellentesque lacus, non condimentum massa."
         },
         "3":
         {
            "cohortId": "uuid",
            "name": "Age 75-84",
            "estSize": "3442325",
            "refreshDate": "14 May 2024",
            "description": "Etiam mattis massa ut erat hendrerit tempus ac nec sem. Fusce sit amet sagittis quam. Cras quis dapibus sem."
         },
         "4":
         {
            "cohortId": "uuid",
            "name": "Immunosuppressed (5-74s)",
            "estSize": "1149754",
            "refreshDate": "14 May 2024",
            "description": "lorem ipsum dolor sit amet, blah blah, lorem ipsum."
         },
         "5":
         {
            "cohortId": "uuid",
            "name": "16+ Chronic neurological Disease",
            "estSize": "5782",
            "refreshDate": "14 May 2024",
            "description": "Aliquam vitae pellentesque lacus, non condimentum massa."
         },
         "6":
         {
            "cohortId": "uuid",
            "name": "Age 75+ (London)",
            "estSize": "720102",
            "refreshDate": "14 May 2024",
            "description": "Donec efficitur et ligula ut blandit. Curabitur fringilla molestie dignissim."
         },
         "7":
         {
            "cohortId": "uuid",
            "name": "Under 5s",
            "estSize": "125782",
            "refreshDate": "14 May 2024",
            "description": "Cras fringilla erat vel lectus porttitor egestas. Cras vulputate nisi a est fermentum feugiat."
         },
         "8":
         {
            "cohortId": "uuid",
            "name": "Age 85+",
            "estSize": "427932",
            "refreshDate": "17 May 2024",
            "description": "Etiam mattis massa ut erat hendrerit tempus ac nec sem. Fusce sit amet sagittis quam. Cras quis dapibus sem."
         },
         "9":
         {
            "cohortId": "uuid",
            "name": "Age 5-74 immunosuppressed",
            "estSize": "1149754",
            "refreshDate": "14 May 2024",
            "description": "Cras fringilla erat vel lectus porttitor egestas. Cras vulputate nisi a est fermentum feugiat."
         },
         "10":
         {
            "cohortId": "uuid",
            "name": "16+ Serious Genetic Abnormalities",
            "estSize": "19264",
            "refreshDate": "21 April 2024",
            "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras egestas ante rutrum, iaculis odio eget, fringilla mauris."
         }
      }
   }
%}





  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">





      <span class="nhsuk-caption-m nhsuk-u-padding-bottom-1">{{ data['campaign-target']}} {{ data['campaign-type']|lower}}</span>
<h1 class="nhsuk-heading-l">{{ data['name'] }}

  {% if data['fromDate']|length > 0 %}
        <span class="nhsuk-body-m nhsuk-u-padding-top-3">{{ data['fromDate']|formatDate|default("29 April") }} - {{ data['toDate']|formatDate|default("12 May")}}</span>
  {% else %}
                <!-- <span class="nhsuk-body-l nhsuk-u-padding-top-3">{{ data['fromDate']|formatDate|default("29 April") }} - {{ data['toDate']|formatDate|default("12 May")}}</span> -->
  {% endif %}

</h1>
</div>
  <div class="nhsuk-grid-column-two-thirds">

<h2 class="nhsuk-heading-xs nhsuk-u-margin-bottom-0">Campaign admin</h2>
<ul class="nhsuk-list">
  <!-- <li class="clean-line"><a class="nhsuk-link nhsuk-link--no-visited-state" href="name?editName=true" aria-describedby=" campaign name">Campaign name</a>
    <span class="completed">Completed</span>
</li> -->

<li class="clean-line"><a class="nhsuk-link nhsuk-link--no-visited-state" href="name-dates?editName=true" aria-describedby=" campaign name">Update campaign name, start and end dates</a>
  <span class="optional">Optional</span>
</li>
<li class="clean-line"><a class="nhsuk-link nhsuk-link--no-visited-state" href="campaign-type?editType=true" aria-describedby=" campaign name">Change campaign type and target</a>
  <span class="optional">Optional</span>
</li>

<!--
  <li class="clean-line"><a class="nhsuk-link nhsuk-link--no-visited-state" href="dates?editDates=true" aria-describedby=" campaign dates">Campaign dates</a>
    {% if (data['fromDate']|length > 0) and (data['toDate']|length > 0) %}
    <span class="completed">Completed</span>
{% elif (data['fromDate']|length > 0)  %}
      <span class="progress">In progress</span>
    {% else %}
    <span class="notyet">Not started</span>
    {% endif %} -->

  <!-- <li class="clean-line"><a class="nhsuk-link--no-visited-state" href="#" aria-describedby=" budget status">Campaign budget status</a>
    <span class="notyet">Not started</span>
</li>

<li class="clean-line-last"><a class="nhsuk-link nhsuk-link--no-visited-state" href="#" aria-describedby=" Assign team roles">Assign a manager, approver and reviewer</a>
  <span class="notyet">Not started</span>

</li> -->




    {% set cohortsArray = [] %}

    {% if (data['newCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['newCohorts']) %} {% endif %}
    {% if (data['covidCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['covidCohorts']) %} {% endif %}
    {% if (data['fluCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['fluCohorts']) %} {% endif %}
    {% if (data['under16Cohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['under16Cohorts']) %} {% endif %}
    {% if (data['immunoCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['immunoCohorts']) %} {% endif %}
    {% if (data['allCohorts'].length > 0) %} {% set cohortsArray = cohortsArray.concat(data['allCohorts']) %} {% endif %}

    {% if cohortsArray.length > 0 %}

    {% set count = "1" %}
    <h2 class="nhsuk-heading-xs nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0">Iteration #{{ count }}</h2>

    <h2 class="nhsuk-heading-xs nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0">{{ cohortsArray.length }} Cohorts</h2>

{% for items in cohortsArray %}
<li class="headline-bot"><a class="nhsuk-link nhsuk-link--no-visited-state" href="#" aria-describedby=" add a filter">{{items}}</a><span class="newNotStarted">Not started</span></li>



<h2 class="headline-bot nhsuk-heading-xs nhsuk-u-margin-top-0 nhsuk-u-margin-bottom-0">{{ items | truncate(75) }}</h2>
<p class="nhsuk-body-s">Information about the cohort, sizing etc from Foundry</p>
<div class="iterationBox">
{% endfor %}
<li class="headline-bot"><a class="nhsuk-link nhsuk-link--no-visited-state" href="#" aria-describedby=" add a filter">Add a filter</a><span class="newNotStarted">Not started</span></li>
<li class="headline-bot"><a class="nhsuk-link nhsuk-link--no-visited-state" href="#" aria-describedby=" add a suppression">Add a suppression</a><span class="newNotStarted">Not started</span></li>
</div>
{% endif %}


{% if cohortsArray.length > 0 %}
<h2 class="nhsuk-heading-xs nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-0">Add another campaign iteration</h2>
{% else %}
<h2 class="nhsuk-heading-xs nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-0">New campaign iteration</h2>
<span class="notyet">Not started</span>
{% set count = count + 1 %}

{% endif %}


    <li class="clean-line"><a class="nhsuk-link nhsuk-link nhsuk-link--no-visited-state" href="select-cohorts">Select campaign cohorts</a>

    </li>







<!--
<h2 class="nhsuk-heading-xs nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0">Define rhythm of sending invites and reminders</h2>
<li class="clean-line-last"><a class="nhsuk-link nhsuk-link nhsuk-link--no-visited-state" href="#">Choose the steps required for campaign style</a>
<span class="notyet">Not started</span>
</li>


<h2 class="nhsuk-heading-xs nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0">Create and manage campaign assets</h2>
<li class="clean-line"><a class="nhsuk-link--no-visited-state" href="#" aria-describedby=" Manage campaign assets">Select languages and accessible formats required</a>
<span class="notyet">Not started</span>
</li>


<li class="clean-line"><a class="nhsuk-link--no-visited-state" href="#" aria-describedby=" Manage campaign assets">Edit / commission campaign content</a>
<span class="notyet">Not started</span>
</li>

<li class="clean-line-last"><a class="nhsuk-link--no-visited-state" href="#" aria-describedby=" Manage campaign assets">Obtain sign off for campaign assets</a>
<span class="notyet">Not started</span>
</li>

<h2 class="nhsuk-heading-xs nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0">Build schedule</h2>
<li class="clean-line"><a class="nhsuk-link--no-visited-state" href="#" aria-describedby=" Supply, workforce, booking slots">Consider impact on supply, workforce and capacity</a>
{% if data['selectCohorts'] == 'done' %}
<span class="completed">Completed</span>
{% else %}
<span class="notyet">Not started</span>
{% endif %}
</li>
<li class="clean-line-last"><a class="nhsuk-link nhsuk-link nhsuk-link--no-visited-state" href="#">Package up invitations and with dates for campaign run</a>
<span class="cannot">Cannot start</span>
</li> -->

</ul>






</div>



    </div>


{% endblock %}
